*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 100px;
}
#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
    margin: auto;
}
#questionDisplay{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 50%;
    margin: auto;
}
.option{
    list-style: none;
    background-color: purple;
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.option:hover{
    background-color: #d8d8d8;
    color: purple;
    cursor: pointer;
}
#questionList{
    padding: 0;
}
#questionHeading{
    text-align: center;
}
#results{
    font-size: 20px;
    text-align: center;
}
#enterScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60%;
    width: 50%;
    margin-left: 40%;
}
.colwidth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.colwidth p{
    margin-right: 10px;
}
#submit{
    margin-left: 10px;
    background-color: purple;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
}
#submit:hover{
    background-color: #d8d8d8;
    color: purple;
    cursor: pointer;
}
#highScoreContainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
    margin: auto;
}
#highScoreList{
    padding:0;
}
#highScoreList li{
    background-color: rgb(194, 132, 194);
    color:white;
    list-style: none;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
#returnHome, #clearScore, #start{
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin: 10px;
}
#returnHome:hover, #clearScore:hover, #start:hover{
    background-color: #d8d8d8;
    color: purple;
    cursor: pointer;
}
.buttonCont{
    display: flex;
    flex-direction: row;
}
.highscore:hover{
    cursor: pointer;
}
#finalScore{
    display: inline-block;
}